:root {
  --content-caption-font-weight: Regular; /* Defines the caption per brand. Do not apply directly to layers. */
  --content-font-definitions-font-family: Aeonik; /* Defines the primary font family per brand. Do not apply directly to layers. */
  --content-font-definitions-font-family-body: Aeonik; /* Defines the body font per brand. Do not apply directly to layers. */
  --content-font-definitions-font-family-display-1: Aeonik; /* Defines the display font family per brand. Do not apply directly to layers. */
  --content-font-definitions-font-family-display-2: Aeonik; /* Defines the display font family per brand. Do not apply directly to layers. */
  --content-font-definitions-font-family-headings: Aeonik; /* Defines the head font per brand. Do not apply directly to layers. */
  --content-font-definitions-font-family-monospace: Fira Code; /* Not likely needed. Do not apply directly to layers. */
  --content-heading-1-font-family: Aeonik; /* Do not apply directly to layers. Use "heading 1" style instead. */
  --content-heading-1-weight: Bold; /* Do not apply directly to layers. Use "heading 1" style instead. */
  --content-heading-2-font-family: Aeonik; /* Do not apply directly to layers. Use "heading 2" style instead. */
  --content-heading-2-weight: Bold; /* Do not apply directly to layers. Use "heading 2" style instead. */
  --content-heading-3-font-family: Aeonik; /* Do not apply directly to layers. Use "heading 3" style instead. */
  --content-heading-3-heading-3-weight: Bold; /* Do not apply directly to layers. Use "heading 3" style instead. */
  --content-heading-4-font-family: Aeonik; /* Do not apply directly to layers. Use "heading 4" style instead. */
  --content-heading-4-weight: Bold; /* Do not apply directly to layers. Use "heading 4" style instead. */
  --content-monospaced-font-weight: Regular; /* Defines the monospaced font per brand. Do not apply directly to layers. */
  --content-paragraph-paragraph-bold-weight: Semibold; /* Do not apply directly to layers. Use appropriate style instead. */
  --content-paragraph-paragraph-medium-weight: Medium; /* Do not apply directly to layers. Use appropriate style instead. */
  --content-paragraph-paragraph-weight: Regular; /* Do not apply directly to layers. Use appropriate style instead. */
}
